@import "./../../constants/color-palette";

$knob-size: 60px;

.knob {
  position: relative;
  background-color: $blue-1;
  border-color: black;
  border: 2px solid;
  border-radius: 70px;
  height: $knob-size;
  width: $knob-size;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  margin: 5px;

  .knob-pointer-container {
    height: $knob-size;
    width: $knob-size;
    position: absolute;

    .knob-pointer {
      background-color: $salmon;
      border-color: black;
      border: 2px solid;
      border-radius: 10px;
      width: 8px;
      height: 8px;
      margin: 35px 0px 0px 10px;
    }
  }
}
