@import "./../../constants/color-palette";

.connection-wire-container {
  z-index: 900000000;
  pointer-events: none;
  top: 0px;
  left: 0px;
  position: absolute;
 
  .connection-wire {
    position: absolute;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7)) drop-shadow(-1px -1px 0px #111);
    height: 409px;
    width: 1535px;

    .connection-path {
      pointer-events: none;
      stroke: $copper;
      stroke-linecap: round;
    }
  }
}