.lfo-block {
  border: 2px solid rgb(85, 85, 85);
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
  
  padding: 5px;

  .lfo-knobs {
    display: flex;
  }

  .lfo-header {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .param-text {
      margin-bottom: 4px;
      margin-left: 15px;
      margin-right: 18px;
    }
  }

  .lfo-connection-points {
    margin-top: 10px;
    margin-bottom: 6px;
    margin-left: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
  }
}
