@import "./../../constants/color-palette";

@keyframes rotateAround {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(1, 1, 1, -360deg);
  }
}

.synth-container {
  &:focus {
    outline: none;
  }

  &.randomizing {
    animation-name: rotateAround;
    animation-timing-function: linear;
    animation-duration: 0.7s;
    transform-style: preserve-3d;
  }

  &.preset-changing {
    .knob {
      animation-name: rotateAround;
      animation-timing-function: linear;
      animation-duration: 0.7s;
      transform-style: preserve-3d;
    }
  }

  background-image: linear-gradient($grey, $grey);
  border: 10px solid #753;
  box-shadow: 1px 10px 10px 3px black;
  border-radius: 3px;
  display: flex;
  flex-direction: column;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  .main-panel {
    height: 335px;
    background: radial-gradient(ellipse at center, $grey 0%,$grey 88%,rgba(255, 255, 255, 0.03) 30%);
    background-size: 10px 10px;
    z-index: 2;
    box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
 
  .bottom-divider {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    z-index: 3;
    height: 13px;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.65),  
                0 -0.25rem 1.5rem rgb(197, 197, 197) inset,
                0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
                0 0.25rem 0.5rem 0 rgb(245, 247, 237) inset;
  }

  .keybed-container {
    display: flex;
    justify-content: space-around;
  }
}
